* {
    box-sizing: border-box;
    margin: auto;
    padding: 1%;
}

body {
    margin: auto;
    padding: 1%;
    font-family: "Monsterrat";
    line-height: 1.6;
    text-align: center;
}

img {
    display: block;
}

.relative {
    position: relative;
}


.header {
    background-color: #EFF0F2;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    filter: drop-shadow(3.517px 8.285px 5px rgba(0,0,0,0.24));
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    padding: 3px 5px 5px;
    margin-left: -410%;
    border: 3px solid #505050;
}

.character-O {
    color: #76f4ea;
    font-size: 28px;
}
.desription-container {
display: flex;
font-family: "Monsterrat";
justify-content: center;
text-align: center;
}

.header-description{
    font-size: 25px;
    width: 383px;
}

.aqua-description {
    background-color:#76f4ea;
}

.header-bottom {
    display: flex;
    justify-content: center;
}

.contact-us-btn {
    padding: 3px;
}

.glass-container {
    position: absolute;
    bottom: 20px;
    right: 20%;
    background-color: #76f4ea;
    border-radius: 5px;

}

.glass {
    width: 45px;
}

.about-container {
    background-color: #ffffff;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.about-title,
.featured-title,
.services-title,
.team-title {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.about-description,
.featured-description,
.services-description,
.team-description {
    color: gray;
}


.about-info-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.laptop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.laptop-img-container {
    background-color: #EFF0F2;
    width: 470px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.laptop-img {
    background-image: url('./imgs/Image\ \(1\).png');
    background-size: cover;
    background-position: center;
    background-color: lightgray;
    width: 400px;
    height: 360px;
    position: relative;

}

.info-container {
    width: 300px;
    font-size: 18px;
}

.info-container :nth-child(1n+1) {
    margin-bottom: 10px;
}



.point-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


.point,
.green-point {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: #000;
    margin-right: 3px;
}

.green-point {
    background-color: green;
}

.featured-container,
.services-container,
.team-container {
    min-height: 550px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}



.img-section {
    display: flex;
    margin-right: 10px;
}

.img {
    width: 280px;
    height: 200px;
    margin: 10px;
}

.services-container {
    background-color: #F9FBFA;
    min-height: 900px;
}

.services-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.services-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-rows {
    display: flex;
}

.services-rows-reverse {
    flex-direction: row-reverse;
}

.background-aqua {
    background-color: #76f4ea;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.img-services-docs {
    background-image: url('https://assets-global.website-files.com/5a8e038236499300015e031c/5fe4f2ef52a5f7b196bcf8e2_eval_docgen_wp_main_image17.svg');
    width: 400px;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.black-opasity {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    padding: 15px;
    color: #fff;
}

.img-services-laptop {
    background-image: url('https://images.unsplash.com/photo-1496181133206-80ce9b88a853?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bGFwdG9wfGVufDB8fDB8fA%3D%3D&w=1000&q=80');
    width: 400px;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.img-services-computer {
    background-image: url('./imgs/Image\ \(1\).png');
    width: 400px;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.img-services-bottle {
    background-image: url('http://static1.squarespace.com/static/5876437137c5819aaab2d6c3/58764b1c2e69cfaf7ca17c33/587cd898e4fcb5433413157e/1593351759736/?format=1500w');
    width: 400px;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.img-services-cups {
    background-image: url('https://cdn.thewirecutter.com/wp-content/media/2021/04/mugwarmers-2048px-0S1A5657.jpg?auto=webp&quality=60&crop=1.91:1&width=1200');
    width: 400px;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.big {
    width: 600px;
}

.services-rows :nth-child(1n+1) {
    margin: 5px;
}

.team-container {
    min-height: 850px;
}

.team-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-row {
    display: flex;
}

.team-img {
    width: 250px;
    height: 300px;
    margin: 5px;
}

.team-img-1 {
    background-image: url('./imgs/team-2.jpg');
}

.team-img-2 {
    background-image: url('./imgs/team-5.jpg');
    display: flex;
    align-items: flex-end;
    padding: 13px;
}

.team-img-3 {
    background-image: url('./imgs/team-1.jpg');
}

.team-img-4 {
    background-image: url('./imgs/team-4.jpg');
}

.team-img-5 {
    background-image: url('./imgs/team-3.jpg');
}

.team-img-6 {
    background-image: url('./imgs/team-2.jpg');
}

.aqua-blue-description {
    width: 220px;
    height: 170px;
    background-color: #76f4ea;
}

.reactangle {
    width: 20px;
    height: 20px;
    background-color: #76f4ea;
    transform: rotate(45deg);
    margin-left: 15px;
    margin-top: -8px;
}

.aqua-description {
    padding: 5px;
}

.aqua-description :nth-child(1n+1) {
    margin-bottom: 7px;
}

.name-title {
    display: flex;
    align-items: center;
}

.italic-text {
    font-style: italic;
}

.bis {
    color: #E8D960;
}

.they-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.gray-background {
    background-color: lightgray;
    width: 320px;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-they {
    background-image: url('./imgs/team-1.jpg');
    width: 250px;
    height: 300px;
}

.info-they-container {
    width: 500px;
    background-color: lightgrey;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.info-they-container :nth-child(1n+1) {
    margin-bottom: 10px;
}

.team-container {
    min-height: 550px;
    background-color: #F9FBFA;
}

.name-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.next-btn-container {
    display: flex;
    position: absolute;
    right: 19%;
}

.next-page {
    padding: 10px;
    background-color: #fff;
}

.active {
    background-color: #76f4ea;
}

.bottom-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.relative-points {
    position: absolute;
    left: 26%;
}

.logo-container {
    background-color: #fff;
    min-height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 50px;
}

.logo-row {
    display: flex;
    align-items: center;
}

.logo-1 {
    background-image: url('./imgs/Logo_vector.png');
    width: 50px;
    height: 50px;
    background-size: cover;
}


.logo-3 {
    background-image: url('./imgs/logo-3.png');
    width: 50px;
    height: 50px;
    background-size: cover;
}


.column {
    display: flex;
    flex-direction: column;
}

.underLine {
    border-bottom: 2px solid #000;
    width: 70px;
}

.logos-row {
    display: flex;
    justify-content: space-evenly;
    width: 40%;

}

.logos-row-2 {
    display: flex;
    justify-content: space-evenly;
    width: 70%;

}

.snow-background {
    background-image: url('https://img.freepik.com/premium-photo/fantasy-landscape-winter-mountains-peaks-slopes-mountains-are-covered-with-snow-ice-magical-mountain-valley-winter_86390-7315.jpg?w=2000');
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container,
.map-container {
    width: 500px;
    height: 400px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 10px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputs :nth-child(1n+1) {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    border-bottom: 2px solid #f9f9f9;
    height: 50px;
    color: #fff;
}

.inputs :last-child {
    height: 100px;
}

.inputs ::placeholder {
    color: #fff;
}

.send-btn {
    background-color: #76f4ea;
    padding: 10px;
    width: 145px;
}

.map-container {
    font-size: 18px;
    color: #fff;
}

.part {
    margin-bottom: 15px;
}

.map {
    background-image: url('https://media.wired.com/photos/59269cd37034dc5f91bec0f1/191:100/w_1280,c_limit/GoogleMapTA.jpg');
    width: 100%;
    height: 100%;
}

.footer {
    width: 100%;
    min-height: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.logos {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: -10px;
}

.footer-logo {
    background-color: rgba(255, 255, 255, 0.342);
    padding: 10px;
    margin: 2px;
}

.active-logo {
    background-color: #76f4ea;
    color: #000;
}